extends ../layouts/default.jade

//block header
//	h2 jade header
//block content
//	h1 jade page
//	ul
//		li	li text
//			a(href="#") item 1
//		li
//			| li text
//			a(href="#")	item 2
//		li: a(href="#") item 3
//
//	div
//		input(type="text", placeholder="inline attribute")
//
//	div
//		input(
//			type="text"
//			placeholder="multi lines attribute"
//			)
//	include part

